*{
      box-sizing: border-box;
    }

 /*HEADER*/

#header-nav{
  background-color: grey;
  border-radius: 0;
  border:0;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;

}
.nabar-brand{
  margin-top: -30px;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -60px; 
}


.container-fluid .h1{
  margin-left: 4px;
}
#nav-list {
  margin-top: 10px;
 }
#nav-list a {

  color: black;
  text-align: center;
  text: 1.4em;
  text-decoration: none;
}



#nav-list a:hover {
  background: grey;
}
.nav .h1{
  
  font-size: 2.5em;
  background-color: grey;
  padding-left: 10px;
  border: 30px 30px;
  margin: 0;
  padding-bottom: 35px;
  padding-left: 20px;
}


#Head{
  text-align: center;
  margin-top: 10px;
}



#heading{
 text-align: center;
 text-transform: uppercase;

}


.Paragraph{
  font-family: Avenir-Medium, Ariel , Helvetica;
  padding-left: 10px;
  margin-left: 40px;
  background-color: grey;
  font-size: 1.6em;
}

.row {
  width: 100%;
} 

@media(min-width: 992px){    /*Desktop view */
 .col-lg-12  {
   float: left;
    margin-top: 20px
   }
  #nav-list {
    visibility: hidden;
  }

   
}

@media(min-width:768px) and (max-width: 991px){    /*Tablet view */

 .col-md-12{
   float: left;
    margin-top: 20px
   }
   #nav-list {
    visibility: hidden;
  }

  
}

@media(max-width: 767px){          /*Mobile view */

 .col-xs-12 {
   float: left;
   margin-top: 20px;
  }
  #nav-list {
  visibility: visible;
  }

  } 